:root {
  --color-accent: oklch(0.5559 0.2343 145.06);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 80ch;
  margin-inline: max(1.5em, (100% - 80ch) / 2);
}
img.home-pic {
  max-width: 50%;
  height: auto;
}
h1 {
  font-size: 350%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
/* Nav styling */
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}
nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}
/* Contact form styling */
input, textarea, button, select {
    font: inherit;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.7em;
  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  button {
    grid-column: 1 / -1;
  }
}
/* Projects page styling */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 0.7em clamp(0.5em, 2vw, 1em);
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.projects h2 {
  margin: 0;
}
.projects p {
  margin-top: 0;
}
/* Resume page styling */
/* section h2 {
  margin-bottom: 0;
} */
/* section ul{
  margin-top: 0.3em;
} */
section p:has(+ ul) {
  margin-bottom: 0;
}

 /* Resume styling */
.resume {
  display: grid;
  grid-template-columns: 15ch 1fr;
  gap: 0.5em 2em;
  padding-block: 1em;
  border-top: 1px solid oklch(80% 3% 200);

  h2 {
    color: var(--color-accent);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    align-self: start;
  }

  ul {
    margin-block: 0.25em 0.5em;
    padding-left: 1.2em;
  }

  li {
    margin-block: 0.25em;
  }

  p {
    margin-top: 0;
  }
}

.resume.first {
  border-top: none;
  display: block;

  h2 {
    color: var(--color-accent);
    font-size: 2em;
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 0.25em;
  }
  p {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1.5em;
    font-size: 0.9em;
    margin-top: 0;
  }
}
/* Light/dark mode toggle styling */
label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}